# SOME FANCY NAME
COMPOSE_PROJECT_NAME=gitexercises

# MYSQL CONFIG
# this refers to the docker hostname
DB_HOST=gitexercises-db
DB_NAME=gitexercises
DB_USER=gitexercises
# for safety consider setting a passwd, note that you mannually need to change the mysql root password accordingly
DB_PASSWORD=gitexercises

# YOUR GIT EXERCISES REPO
# GIT_REPO=https://github.com/fracz/git-exercises

# EXPOSE HTTP SERVICE ON PORT
PORT_HTTP=80

# DOMAIN ASSOCIATED TO ONLINE ENVIRONMENT
DOMAIN_NAME=localhost