<div ng-if="commiterData.attempts.length === 0">
    <h1>We could not find any attempt made by this user.</h1>
    <p class="lead">
        Is {{ commiterEmail || 'it' }} you? Go and do the first exercise!
    </p>
    <div ng-include="'home/start.html'"></div>
    <div exercise-content="'master'" hide-command="true"></div>
</div>
<div ng-if="commiterData.attempts.length > 0" class="commiter-details">
    <h1>{{ commiterData.commiterName }}</h1>
    <p class="lead" class="text-right">
        Passed {{ commiterData.passedExercises.length || 0 }} exercises
    </p>
    <uib-progressbar ng-if="availableExercises.length" animate="false" value="commiterData.passedExercises.length || 0"
                     max="availableExercises.length" type="success">
        <b>{{commiterData.passedExercises.length || 0}} / {{ availableExercises.length }}</b>
    </uib-progressbar>

    <div class="row">
        <div class="col-md-9" ng-if="commiterData.nextExercise">
            <div exercise-content="commiterData.nextExercise"></div>
        </div>
        <div class="col-md-9" ng-if="availableExercises.length && commiterData.passedExercises.length >= availableExercises.length">
            <h2>Congratulations!</h2>
            <p class="lead">You managed to pass all exercises!</p>
            <p class="lead">Please find below a random kitten generated specially for you.</p>
            <p class="text-center"><a href="http://thecatapi.com"><img ng-src="http://thecatapi.com/api/images/get?format=src&type=gif"></a></p>
        </div>
        <div class="col-md-3" latest-attempts="commiterData.attempts"></div>
    </div>
</div>
